### Variables

In [1]:
a = 'xyz'
a

'xyz'

In [4]:
a is 'xyz'

True

### Equal but not the Same

In [5]:
b = [1, 2, 3]
id(b)

140031436528008

In [ ]:
[1, 2, 3]

### Side-effects

In [11]:
c = b
b.pop

### Data types

In [13]:
type('x')

str

### Operators

In [15]:
5 ** 7

78125

In [16]:
2 // 3

0

In [17]:
a * 2

'xyzxyz'

### Data structures

In [18]:
T = 'x', 3, True
type(T)

tuple

In [22]:
T = 'cat',
type(T)

tuple

In [23]:
L = [3.14, 'xyz', T]
type(L)

list

In [27]:
S1 = set(L)
S2 = {3.14, 'z'}
S1.difference(S2)

{('cat',), 'xyz'}

In [28]:
user = {
  'First Name': 'Maggie',
  'Last Name': 'Douglas',
  'Email': 'douglasm@dickinson.edu',
}
type(user)

dict

In [33]:
user['Age'] = 35

### Flow control

Flow control relates to 'if then' tests; spacing matters! Indent says what should be in the loop; ending indentation says end of the loop. This code appends j to squares. Notice that there are four items - range creates numbers 1-4

In [39]:
squares = []
for i in range(1, 5):
    j = i ** 2
    squares.append(j)
len(squares)
squares

[1, 4, 9, 16]

In [40]:
users = [
    {'Name':'Alice', 'Email':'alice@email.com'},
    {'Name':'Bob', 'Email': 'bob@email.com'},
    ]
for u in users:
    if u['Name'] == 'Alice':
        print(u['Email'])
    else:
        print('')

alice@email.com

### Methods

Periods are special syntax in python - accesses attributes and methods. Using help(squares.index) tells you what the function is doing.

In [41]:
squares.index(4)

1

In [44]:
user.update({
    'Nickname':'Jamie',
    'Age': 24,
    })
user

{'Age': 24,
 'Email': 'douglasm@dickinson.edu',
 'First Name': 'Maggie',
 'Last Name': 'Douglas',
 'Nickname': 'Jamie'}

### Pandas

Main way to work with spreadsheet type data in Python. Default directory is the directory the notebook is stored in. Other directories can be pointed to relative to that.

In [45]:
import pandas as pd
cbp = pd.read_csv("data/cbp15co.csv")
cbp.dtypes

FIPSTATE     int64
FIPSCTY      int64
NAICS       object
EMPFLAG     object
EMP_NF      object
EMP          int64
QP1_NF      object
QP1          int64
AP_NF       object
AP           int64
EST          int64
N1_4         int64
N5_9         int64
N10_19       int64
N20_49       int64
N50_99       int64
N100_249     int64
N250_499     int64
N500_999     int64
N1000        int64
N1000_1      int64
N1000_2      int64
N1000_3      int64
N1000_4      int64
CENSTATE     int64
CENCTY       int64
dtype: object

In [46]:
cbp = pd.read_csv(
    'data/cbp15co.csv',
    dtype = {'FIPSTATE': 'str', 'FIPSCTY': 'str'}
)
cbp.dtypes

FIPSTATE    object
FIPSCTY     object
NAICS       object
EMPFLAG     object
EMP_NF      object
EMP          int64
QP1_NF      object
QP1          int64
AP_NF       object
AP           int64
EST          int64
N1_4         int64
N5_9         int64
N10_19       int64
N20_49       int64
N50_99       int64
N100_249     int64
N250_499     int64
N500_999     int64
N1000        int64
N1000_1      int64
N1000_2      int64
N1000_3      int64
N1000_4      int64
CENSTATE     int64
CENCTY       int64
dtype: object

In [47]:
cbp.loc[:, ['FIPSTATE', 'NAICS']]

        FIPSTATE   NAICS
0             01  ------
1             01  11----
2             01  113///
3             01  1133//
4             01  11331/
5             01  113310
6             01  115///
7             01  1151//
8             01  11511/
9             01  115112
10            01  21----
11            01  212///
12            01  2123//
13            01  21231/
14            01  212319
15            01  21232/
16            01  212321
17            01  22----
18            01  221///
19            01  2211//
20            01  22111/
21            01  221112
22            01  22112/
23            01  221122
24            01  2213//
25            01  22131/
26            01  221310
27            01  23----
28            01  236///
29            01  2361//
...          ...     ...
2126571       56  611///
2126572       56  6113//
2126573       56  61131/
2126574       56  611310
2126575       56  6117//
2126576       56  61171/
2126577       56  611710
2126578       56  62----
2126579       56  621///
2126580       56  6213//
2126581       56  62134/
2126582       56  621340
2126583       56  6214//
2126584       56  62142/
2126585       56  621420
2126586       56  6216//
2126587       56  62161/
2126588       56  621610
2126589       56  6219//
2126590       56  62199/
2126591       56  621999
2126592       56  81----
2126593       56  812///
2126594       56  8129//
2126595       56  81299/
2126596       56  812990
2126597       56  813///
2126598       56  8133//
2126599       56  81331/
2126600       56  813312

[2126601 rows x 2 columns]

In [48]:
cbp.loc[2:4, ['FIPSTATE', 'NAICS']]

  FIPSTATE   NAICS
2       01  113///
3       01  1133//
4       01  11331/

In [51]:
cbp.iloc[2:4, 0:3]

  FIPSTATE FIPSCTY   NAICS
2       01     001  113///
3       01     001  1133//

In [52]:
cbp[['NAICS', 'AP']].head()

    NAICS      AP
0  ------  321433
1  11----    3566
2  113///    3551
3  1133//    3551
4  11331/    3551

In [53]:
logical_idx = cbp['NAICS'].str.match('^[0-9]{2}----')
cbp = cbp.loc[logical_idx]
cbp.head()

,FIPSTATE,FIPSCTY,NAICS,EMPFLAG,EMP_NF,EMP,QP1_NF,QP1,AP_NF,AP,...,N100_249,N250_499,N500_999,N1000,N1000_1,N1000_2,N1000_3,N1000_4,CENSTATE,CENCTY
1,01,001,11----,NaN,H,70,H,790,H,3566,...,0,0,0,0,0,0,0,0,63,1
10,01,001,21----,NaN,H,82,H,713,H,3294,...,0,0,0,0,0,0,0,0,63,1
17,01,001,22----,NaN,H,196,H,4793,H,18611,...,0,0,0,0,0,0,0,0,63,1
27,01,001,23----,NaN,G,372,G,2891,G,13801,...,0,0,0,0,0,0,0,0,63,1
93,01,001,31----,NaN,H,971,H,15386,H,64263,...,0,0,1,0,0,0,0,0,63,1

In [55]:
cbp['FIPS'] = cbp['FIPSTATE'].str.cat(cbp['FIPSCTY'])
cbp.head()

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,FIPSTATE,FIPSCTY,NAICS,EMPFLAG,EMP_NF,EMP,QP1_NF,QP1,AP_NF,AP,...,N250_499,N500_999,N1000,N1000_1,N1000_2,N1000_3,N1000_4,CENSTATE,CENCTY,FIPS
1,01,001,11----,NaN,H,70,H,790,H,3566,...,0,0,0,0,0,0,0,63,1,01001
10,01,001,21----,NaN,H,82,H,713,H,3294,...,0,0,0,0,0,0,0,63,1,01001
17,01,001,22----,NaN,H,196,H,4793,H,18611,...,0,0,0,0,0,0,0,63,1,01001
27,01,001,23----,NaN,G,372,G,2891,G,13801,...,0,0,0,0,0,0,0,63,1,01001
93,01,001,31----,NaN,H,971,H,15386,H,64263,...,0,1,0,0,0,0,0,63,1,01001

### Index

In [56]:
cbp = cbp.set_index(['FIPS', 'NAICS'])
cbp.head()

             FIPSTATE FIPSCTY EMPFLAG EMP_NF  EMP QP1_NF    QP1 AP_NF     AP  \
FIPS  NAICS
01001 11----       01     001     NaN      H   70      H    790     H   3566
      21----       01     001     NaN      H   82      H    713     H   3294
      22----       01     001     NaN      H  196      H   4793     H  18611
      23----       01     001     NaN      G  372      G   2891     G  13801
      31----       01     001     NaN      H  971      H  15386     H  64263

              EST   ...    N100_249  N250_499  N500_999  N1000  N1000_1  \
FIPS  NAICS         ...
01001 11----    7   ...           0         0         0      0        0
      21----    3   ...           0         0         0      0        0
      22----    9   ...           0         0         0      0        0
      23----   75   ...           0         0         0      0        0
      31----   24   ...           0         0         1      0        0

              N1000_2  N1000_3  N1000_4  CENSTATE  CENCTY
FIPS  NAICS
01001 11----        0        0        0        63       1
      21----        0        0        0        63       1
      22----        0        0        0        63       1
      23----        0        0        0        63       1
      31----        0        0        0        63       1

[5 rows x 25 columns]

In [57]:
cbp = cbp[['EMP', 'AP']].unstack(fill_value = 0)

In [59]:
income = cbp['EMP']
income = income.loc[:, ['11----', '72----']]
income.head()

NAICS  11----  72----
FIPS
01001      70    2091
01003      14   12081
01005     180     594
01007      70     306
01009      10     679

### Classification

This section is using machine learning to classify counties by urban or rural (using support vector machines)

In [60]:
rural_urban = pd.read_csv(
    'data/ruralurbancodes2013.csv',
    dtype={'FIPS':'str'},
    ).set_index('FIPS')
rural_urban['Metro'] = rural_urban['RUCC_2013'] < 4

In [62]:
income_rural_urban = income.join(
    rural_urban['Metro'],
    how = 'inner',
    )

In [ ]:
import ...

train = income_rural_urban.sample(
    ...,
    ...)

In [ ]:
from ...
ml = svm.LinearSVC()

X = train.drop(..., axis=1).values[:, :2]
X = np.log(1 + X)
y = train[...].values.astype(int)

ml.....

In [ ]:
from sklearn import metrics

metrics....

In [ ]:
from mlxtend.plotting import plot_decision_regions

plot_decision_regions(X, y, clf=ml, legend=2)

### Kernel Method

In [ ]:
ml = svm....
ml.fit(X, y)

In [ ]:
metrics....

In [ ]:
plot_decision_regions(...)